#head-layout{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    .trending {
        font-weight: bold;
    }
    .trending-description {
        font-size: 14px;
    }
}
.news-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 110px;
    gap: 20px;
    min-height: 100vh;
    .main-story {
        flex: 2;
        position: relative;
        min-height: inherit;
        img {
            width: 100%;
            height: 100%;
            border-radius: .4rem;
        }
        .story-content {
            position: absolute;
            border-radius: .4rem;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
            color: white;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .category {
                background-color: #e74c3c;
                padding: 5px;
                align-self: flex-start;
            }
            h2 {
                margin: 10px 0;
                font-size: 1.5em;
            }
            p {
                font-size: 14px;
                color: #ddd;
                margin: 0;
            }
        }
    }
    .side-stories {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .side-story {
            position: relative;
            img {
                width: 100%;
                height: 100%;
                border-radius: .4rem;
            }
            .story-content {
                border-radius: .4rem;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0) 100%);
                color: white;
                padding: 10px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .category {
                    background-color: #e74c3c;
                    padding: 5px;
                    align-self: flex-start;
                }
                h3 {
                    margin: 5px 0;
                    font-size: 1.2em;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .news-container {
        flex-direction: column;
        .main-story, .side-stories {
            flex: 1;
        }
    }
}