@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
}
.card-wrapper{
    width: 100%;
    min-height: 100vh;
    display: grid;
    background: whitesmoke;
    grid-template-rows: repeat(auto , 1fr);
    grid-template-columns: repeat(3 , 1fr);
    gap: 3vh;
    padding: 1rem 3rem;
}
.card{
    width: 450px;
    min-height:850px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 1.5rem;
    outline: none;
    & .title{
        width: 100%;
        font-weight: 600;
        font-size: large;
    }
    & .sett{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }
    & .imag{
        width: 100%;
        height: 50%;
        margin-bottom: 10px;
        & #img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-position: center;
            background-repeat: no-repeat;
            image-orientation: from-image;
            image-resolution: high resolution;
            border-radius: .4rem;
        }
    }
}
.des{
  width: 100%;
  overflow: hidden !important;
  margin-bottom: 10px;
}
#hot{
  display: flex;
  width: 100%;
  min-height: 40vh;
  gap: 3vh;
  padding:1rem 3rem;
  position: relative;
  background: whitesmoke;
}
.right_card , .left_card{
  width: 50%;
  height: 100%;
  background: #e23939;
  border-radius: .5rem;
}
nav{
    width: 100%;
    height: 15vh;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    z-index: 99;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.logo{
  width: 20vh;
  height: 8vh;
  margin-left: 1rem;
  transform: scale(1.7);
  image-resolution: high resolution;
  filter: brightness(1);
  overflow: hidden;
}
.brandName{
  font-size: 1.4rem !important;
}
#newslogo{
  width: 100%;
  height: inherit !important;
  aspect-ratio: 1/1;
}
section {
    position: relative;
    width: 100%;
    height: 13vh;
    overflow: hidden;
  }
  
  
  .scroll {
    display: flex;
    width: 100%;
    box-shadow: 0 8px 16px rgba(#000000, 0.5);
    
    div {
      font-weight: 900;
      font-size: 4em;
      text-transform: uppercase;
      white-space: nowrap;
      color: #212121;
      background-color: #fff;
      animation: animate 40s -40s linear infinite;
      will-change: transform;
      
      &:nth-child(2) {
        animation: animate2 40s -20s linear infinite;
      }
    }
    
    span {
      -webkit-text-stroke: 2px #000000;
      color: #ffffff;
    }
  }
  
  .text1 {
    transform: rotate(30deg) translate(-200px, 200px);
  }
  
  .text2 {
    transform: rotate(-25deg) translate(-200px, 120px);
  }
  
  .text3 {
    transform: rotate(25deg) translate(-200px, 300px);
  }
  
  .text3 {
    transform: rotate(-2deg) translate(-200px, -150px);
  }
  
  .text5 {
    transform: rotate(5deg) translate(-200px, 250px);
  }
.bd-placeholder-img{
  height: 80vh !important;
  object-fit: cover;
  background-position: center center !important;
  background-repeat: no-repeat;
  image-orientation: from-image;
  image-resolution: high resolution;
}
  @keyframes animate {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes animate2 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }
.nav2{
    width: 100%;
    display: flex;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
    
    & h3{
        font-size: 1.2rem !important;
        padding: .8rem;
        border-radius: .4rem;
        color: black;
        
    }
}
.popular_feed{
    width: 100%;
    min-height: 35vh;
    background: whitesmoke;
}
.headline{
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  padding: 1rem 3rem;
  background: whitesmoke;
  width: 100%;
  min-height: 20vh;
}
@media (width <= 1300px){
  .card-wrapper{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    place-items: center;
    gap: 3vh;
  }
  .card{
    width: 100%;
    min-height: 500px !important;
  }
}
@media (width <= 900px){
  .card-wrapper{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    place-items: center;
    gap: 3vh;
    padding: 1rem !important;
  }
  .card{
    width: 100%;
    min-height: 100% !important;
  }
}

body.dark-mode {
  background-color: #212529;
  color: #e0e0e0;
}
.dark-mode .card-wrapper,
.dark-mode .headline,
.dark-mode #hot
{
  background: #212529;
}
.dark-mode #webkit{
  -webkit-text-stroke: 1px #ffffff !important;
  color: #212529 !important;
}
.dark-mode .mg{
  background: #212529;
  -webkit-text-stroke: 1px #ffffff !important;
}
.TM{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
}
.switch {
  display: inline-block;
}

.switch input {
  display: none;
}

.switch label {
  display: block;
  width: 60px;
  height: 30px;
  padding: 3px;
  border-radius: 15px;
  border: 2px solid #000000;
  cursor: pointer;
  transition: 0.3s;
}

.switch label::after {
  content: "";
  display: inherit;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  background: #000000;
  transition: 0.3s;
}

.switch input:checked ~ label {
  border-color: #ffffff;
}

.switch input:checked ~ label::after {
  translate: 30px 0;
  background: #ffffff;
}
.dark-mode nav{
  border-bottom: 0.5px solid #fbfbfb;
}
.dark-mode .card,
.dark-mode .nav2
{
  background: #2B3035;
}
.dark-mode .navbar,
.dark-mode .navbar-brand,
.dark-mode .navbar-toggler
{
  background-color: #1f1f1f;
  color: #fbfbfb;
}
.dark-mode .card {
  background-color: #2B3035;
  color: #e0e0e0;
}
.dark-mode .logo{
  mix-blend-mode:difference !important;
  background: transparent !important;

}
.dark-mode a {
  color: #bb86fc;
}
.dark-mode h3 {
  background-color: #333;
  color: #060000;
}
.dark-mode .btn-dark-mode {
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #e0e0e0;
}
