*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
}
.card-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 3vh;
}
.card{
    width: 500px;
    height: 600px;
    border: 2px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    & .title{
        /* position: absolute; */
        width: 100%;
        /* border: 2px solid red; */
    }
    & .imag{
        width: 100%;
        height: 50%;
        /* border: 2px solid blue; */
        & #img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-position: center;
            background-repeat: no-repeat;
            image-orientation: from-image;
            image-resolution: high resolution;
        }
    }
    & .des{
        width: 100%;
        overflow:auto !important;
        margin-top: 10px;
    }
}