<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Cards</title>
    <script src="{{ url_for('static', filename='js/app1.js') }}" defer></script>
</head>
<body>
    <h1>Articles about Artificial Intelligence</h1>
    <div class="article-cards">
        {% for article in articles %}
            <div class="card">
                <h2>{{ article['title'] }}</h2>
                <img src="{{ article['image'] }}" alt="{{ article['image']}}">  
                <p>{{ article['description'] }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
