<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <input type="text" name="cn" id="cn" placeholder="Search">
    <br>
    <button class="btn">Enter</button>
    <br>
    <div class="card-wrapper">
        <div class="card">
            <div class="title">
                <!-- <p>title</p> -->
            </div>
            <div class="imag">
                <img id="img" src="" alt="Image Not Found">
            </div>
            <div class="des">
                <!-- description -->
            </div>
            <div class="con">
                <!-- description -->
            </div>
        </div>
        <div class="card">
            <div class="title">
                <!-- <p>title</p> -->
            </div>
            <div class="imag">
                <img id="img" src="" alt="">
            </div>
            <div class="des">
                <!-- description -->
            </div>
            <div class="con">
                <!-- description -->
            </div>
        </div>
        <div class="card">
            <div class="title">
                <!-- <p>title</p> -->
            </div>
            <div class="imag">
                <img id="img" src="" alt="">
            </div>
            <div class="des">
                <!-- description -->
            </div>
            <div class="con">
                <!-- description -->
            </div>
        </div>
    </div>
</body>
</html>