<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News-App</title>
    <script
      src="{{ url_for('static', filename='js/index.js') }}"
      defer
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav>
      <div class="logo">
        <img
          id="newslogo"
          src="https://image.freepik.com/free-vector/newspaper-logo_10250-2352.jpg"
          alt="news_logo"
        />
      </div>
      <div>
        <h1
          id="brandName"
          style="
            font-family: 'Merriweather';
            font-weight: 900;
            font-size: 3.2rem;
            margin-left: -7rem;
          "
        >
          Boost
          <span
            id="webkit"
            style="-webkit-text-stroke: 1px #2b2727; color: #ffffff"
            >News</span
          >
        </h1>
      </div>
      <form class="d-flex search" role="search">
        <input
          class="form-control me-2"
          id="cn"
          name="cn"
          type="hidden"
          placeholder="Search"
          aria-label="Search"
        />
        <button style="display: none" class="btn btn-outline-success">
          Search
        </button>
      </form>
    </nav>
    <section>
      <div class="scroll text4">
        <div class="mg">
          Attention!!<span class="s">Get Updated - </span> Get Uptudate
          <span class="s">With Boost News - </span> We Show
          <span class="s">Quick News - </span> For
          <span class="s">You - </span>
        </div>
        <div class="mg">
          Attention!!<span class="s">Get Updated - </span> Get Uptudate
          <span class="s">With Boost News - </span> We Show
          <span class="s">Quick News - </span> For
          <span class="s">You - </span>
        </div>
      </div>
    </section>
    <section class="nav2">
      <a style="text-decoration: none !important" href="#home"
        ><h3 style="background: rgb(242, 167, 167)">Home</h3></a
      >
      <a style="text-decoration: none !important" href="#breaking-news"
        ><h3 style="background: rgb(251, 183, 128)">World News</h3></a
      >
      <a style="text-decoration: none !important" href="#breaking-news"
        ><h3 style="background: rgb(255, 236, 131)">National</h3></a
      >
      <a style="text-decoration: none !important" href="#politics-news"
        ><h3 style="background: rgb(191, 246, 139)">Politics</h3></a
      >
      <a style="text-decoration: none !important" href="#bollywood-news"
        ><h3 style="background: rgb(167, 242, 211)">Entertainment</h3></a
      >
      <a style="text-decoration: none !important" href="#ai-news"
        ><h3 style="background: rgb(179, 227, 236)">Technology</h3></a
      >
      <a style="text-decoration: none !important" href="#sports-news"
        ><h3 style="background: rgb(187, 167, 242)">Sports</h3></a
      >
    </section>
    <button
      class="btn switch TM btn-dark-mode"
      style="border: none; background: transparent; z-index: 999"
    >
      <input id="switch-rounded" type="checkbox" onclick="toggleDarkMode()" />
      <label for="switch-rounded"></label>
    </button>

    <header id="album" data-bs-theme="dark">
      <div class="text-bg-dark collapse" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4>About</h4>
              <p class="text-body-secondary">
                Add some information about the album below, the author, or any
                other background context. Make it a few sentences long so folks
                can pick up some informative tidbits. Then, link them off to
                some social networking sites or contact information.
              </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4>Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
              class="me-2"
              viewBox="0 0 24 24"
            >
              <path
                d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"
              ></path>
              <circle cx="12" cy="13" r="4"></circle>
            </svg>
            <strong>Album</strong>
          </a>
          <button
            class="navbar-toggler collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarHeader"
            aria-controls="navbarHeader"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
      <div class="carousel-indicators"></div>
      <div class="carousel-inner"></div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <section id="hot">
      <div class="left_card"></div>
      <div class="right_card"></div>
    </section>

    <section id="breaking-news" class="headline">
      <h1>Get Updated With Recent Breaking News</h1>
      <h2>Everything in a Quick Shot</h2>
    </section>

    <div class="card-wrapper">
      {% for _ in range(200) %}
      <div class="card">
        <div class="title"></div>
        <div class="sett">
          <p class="author"></p>
          <p class="pub-time"></p>
        </div>
        <div class="imag">
          <img id="img" src="" alt="Image Not Found" />
        </div>
        <div class="des"></div>
        <div class="con"></div>
      </div>
      {% endfor %}
    </div>

    <section id="ai-news" class="headline">
      <h1>AI News</h1>
      <h2>All in one for you</h2>
    </section>
    <div class="card-wrapper ai-wrapper"></div>

    <section id="sports-news" class="headline">
      <h1>Sports News</h1>
      <h2>All in one for you</h2>
    </section>
    <div class="card-wrapper sports-wrapper"></div>

    <section id="bollywood-news" class="headline">
      <h1>Bollywood News</h1>
      <h2>All in one for you</h2>
    </section>
    <div class="card-wrapper bollywood-wrapper"></div>
    <section id="hollywood-news" class="headline">
      <h1>hollywood News</h1>
      <h2>All in one for you</h2>
    </section>
    <div class="card-wrapper hollywood-wrapper"></div>

    <section id="politics-news" class="headline">
      <h1>Politics News</h1>
      <h2>All in one for you</h2>
    </section>
    <div class="card-wrapper politics-wrapper"></div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  </body>
</html>
